/* Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Layout */

.container {
  margin: 0 25px;
}

/* Typographies */

p {
  font-family: 'Sans';
  color: #707380;
  font-weight: 540;
  line-height: 1.5;
  font-size: 1em;
}

h1 {
  font-size: 2.5em;
  color: #323648;
}

/* Components */

    /* Buttons */

.button {
  width: 320px;
  height: 60px;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 20px 0;
}

.button.primary {
  background-color: #3f46ad;
}

 
/* Header */

header.header {
  padding: 20px 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

header .nav-bar ul {
  display: none;
  /* visibility: hidden; -- mejor no usar -- */
}

header .slack-logo {
  float: left;
}

header .nav-bar .burger-menu {
  float: right;
}

/* Section Main */ 
section.main {
  padding-top: 100px;
}

section.main img {
  margin: 40px 0;
}

/* Section - Work Guide */

.work-guide-image {
  width: 70px;
}

.work-guide h2 {
  font-size: 1.7em;
  color: #323648;
}
.work-guide h3 {
  font-family: 'Sans';
  color: #323648;
  font-size: 1em;
}

.work-guide-link {
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  color: #3f46ad;
  font-weight: 550;
  font-family: 'Sans';
  border-bottom: 1px solid #3f46ad;
  display: inline-block;
}

/*  De aquí para arriba lo que hizo Raúl */

/*----  Section - News ...*/

.news-link{
  text-decoration: none;
  font-family: 'Sans';
  color: rgb(65, 74, 82);
}

header.header-news{
  margin: 0 20px;
}

footer .news-leer {
  float: left;

}

container footer.news-footer{
  overflow: hidden;
}

footer img {
  float: right;
}

footer.news-footer {
  overflow: hidden;
}


@media (min-width : 768px) {

/* articulos uno al lado del otro */
/* fotos irán en 4 y 1 */


}
